.card-container {
  width: 80%;
  max-width: 1500px;
  //   border: solid 1px black;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px;
}
